{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'site.css' %}">
  <script src="{% static 'site.js' %}"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
{% endblock %}

{% block messages %}
  {% if messages %}
    <ul id="pp-messages" hidden>
      {% for message in messages %}
        <li data-type="{{ message.tags }}">{{ message.message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block footer %}{% endblock %}
